* {
    font-family: 'B612', sans-serif;;
}

.header {
    background: linear-gradient(rgba(5, 7, 10, 0.48), rgba(13, 27, 20, 0.48)), url(../images/pexels-sora-shimazaki-5926373.jpg) no-repeat center;
    background-size: cover;
    height:100vh;
}

.header-brand {
    color:rgb(74, 246, 38);
}

.navbar-brand {
    color: #fff;
    font-size: 36px;
}

.nav-item, .nav-link {
    color: #fff;
    font-size: 20px;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(74, 246, 38);
}