@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

:root {
    --main-bg-color: #C8C3AB;
    --title-bg-color: #4E4B42;
    --title-text-color: #C5C0A9;
    --nav-active-color: #4C4940;
    --nav-active-text-color: #D9D3BB;
    --nav-link-bg-color: #B4AF9A;
    --content-bg-color: #DAD4BB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--main-bg-color);
}

/**********  Navigation bar  **********/
.navbar {
    border-bottom: 1.5px solid black;
    padding: 0;
}

.navbar-nav .nav-item .nav-link {
    width: 200px;
    background-color: var(--nav-link-bg-color);
    color: var(--title-bg-color);
    margin-left: 10px;
    margin-top:5px;
    font-size: 24px;
    font-weight: 400;
}

.navbar-nav .nav-item .active {
    background-color: var(--nav-active-color);
    color: var(--nav-active-text-color);
    padding-bottom: 1.5rem;
}

/**********     About Section       **********/
.about {
    height: 100vh;
    width: 100%;
}

.about-container {
    border-bottom: 1.5px solid black;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: 0;
    padding: 0;
}

.author h1 {
    font-size: 96px;
}

.author h2 {
    margin-top: 3.5rem;
    margin-left: 10px;
}

.about-title {
    height: 50px;
    font-size: 30px;
    padding-left: 10px;
    background-color: var(--title-bg-color);
    color: var(--title-text-color);
}

.about-education, .about-skills, .about-me {
    background-color: var(--content-bg-color);
    padding: 0;
    margin: .5rem .72rem 0 .72rem;
    height: 500px;
    font-size: 24px;

}

.about-education .school, .about-skills .skill-list, .about-me .intro{
    margin: .35rem;
    list-style: none;
}

.profile-img {
    background-color: var(--title-bg-color);
    width: 70%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.img-thumbnail {
    height: 300px;
    width: 225px;
    background-color: var(--title-bg-color);
    border-width: 0;
}

.about-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: var(--content-bg-color);
}

.about-cv {
    width: 50%;
    padding-left: .5rem;
    margin: .25rem 1rem;
}

.about-links .about-cv a {
    background-color: var(--nav-active-color);
    color: var(--nav-active-text-color);
    text-decoration: none;
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 6px;
    margin: 10px auto;
    transition: transform .4s;
}

.about-cv a:hover {
    background-color: var(--main-bg-color);
    color: var(--title-bg-color);
    transform: scale(1.1);
}

.about-social {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin: .25rem 1rem;
    padding-right: .5rem;
    font-size: 40px;
}

.about-social a{
    color: var(--title-bg-color);
    margin-left: .5rem;
}

/**********     Portfolio Section       **********/
.portfolio {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.portfolio-container {
    border-bottom: 1.5px solid black;
}

.portfolio-title {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.portfolio-title h2 {
    font-size: 64px;
}

.portfolio-title p {
    font-size: 24px;
    margin-top: 3rem;
    padding-left: 100px;
}

.col-card {
    border-radius: 0;
    background-color: var(--content-bg-color);
    margin: 10px
}

.card-group {
    margin-bottom: 5rem;
}

.card-body {
    padding: 0;
}

.project-title {
    background-color: var(--title-bg-color);
    color: var(--title-text-color);
    padding-top: .25rem;
    padding-left: .25rem;
    height: 50px;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 24px;
    margin: .8rem 1rem;
    padding-bottom: 1rem;
}

.card-body--2 {
    text-align: right;
    margin-right: 1rem;
}

.card-body .btn {
    font-size: 24px;
}

.container--2 {
    background-color: var(--content-bg-color);
    text-align: right;
    margin-bottom: 3rem;
}

.portfolio-container a {
    background-color: var(--nav-active-color);
    color: var(--nav-active-text-color);
    text-decoration: none;
    font-size: 30px;
    padding: 10px 35px;
    border: 0;
    border-radius: 6px;
    margin: 10px auto;
    transition: transform .4s;
}

.portfolio-container a:hover {
    background-color: var(--main-bg-color);
    color: var(--title-bg-color);
    transform: scale(1.1);
}

/**********     Contact Section       **********/
.contact {
    height: 100vh;
    width: 100%;
}

.contact-title {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    align-items: center;
    justify-content: flex-start;
}

.contact-title h2 {
    font-size: 64px;
}

.contact-title p {
    font-size: 24px;
    margin-top: 3rem;
    padding-left: 100px;
}

.contact-container .row {
    margin: 1.5rem;
    padding: 0;
}

.contact-left {
    background-color: var(--content-bg-color);
    font-size: 20px;
    padding-top: 3rem;
    margin: .5rem;
}

.contact-left i {
    color: var(--title-bg-color);
    font-size: 24px;
    margin-right: .35rem;
}

.contact-left p {
    margin: .5rem;
}

.contact-right {
    padding-top: 3rem;
    background-color: var(--content-bg-color);
    margin: .5rem;
    padding: 1rem;
}

.contact-right .name, .contact-right .email, .contact-right .textarea {
    margin-bottom: .5rem;
}

.contact-right .textarea {
    height: 300px;
    resize: none;
}

.contact-right .btn {
    background-color: var(--nav-active-color);
    color: var(--nav-active-text-color);
    text-decoration: none;
    font-size: 30px;
    padding: 10px 35px;
    border: 0;
    border-radius: 6px;
    margin: 10px auto;
    transition: transform .4s;
}

.contact-right .btn:hover {
    background-color: var(--main-bg-color);
    color: var(--title-bg-color);
    transform: scale(1.1);
}

/**     Footer Section      **/
footer {
    text-align: center;
    background-color: var(--title-bg-color);
    color: var(--title-text-color);
    height: 50px;
}

footer p {
    font-size: 20px;
    margin: 0 auto;
}
