@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

:root {
    --main-bg-color: #C8C3AB;
    --title-bg-color: #4e4b42;
    --title-text-color: #C5C0A9;
    --nav-active-color: #4C4940;
    --active-text-color: #D9D3BB;
    --nav-link-bg-color: #B4AF9A;
    --content-bg-color: #dad4bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--main-bg-color);
}

h2 {
    font-size: 64px;
    margin-top: 50px;
    margin-left: 10px;
}

.btn {
    background-color: var(--nav-active-color);
    color: var(--active-text-color);
    text-decoration: none;
    font-size: 24px;
    padding: 10px 35px;
    border-radius: 6px;
    margin: 10px;
    transition: transform .4s;
}

.btn:hover {
    background-color: var(--nav-active-color);
    color: var(--active-text-color);
    transform: scale(1.1);
}

.hero, .about, .skill, .portfolio, .blog, .contact {
    height: 100vh;
}

/********* NAVIGATION *********/

.navbar {
    border-bottom: 1.5px solid black;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    border: 0;
    border-radius: 0;
    background-color: var(--nav-active-color);
    color: var(--active-text-color);
    border-radius: 6px;
    justify-self: flex-end;
}

.offcanvas {
    background-color: var(--nav-link-bg-color);
    width: 50%;
}

.navbar-nav .nav-item .nav-link {
    width: 200px;
    background-color: var(--nav-link-bg-color);
    color: var(--title-bg-color);
    margin-left: 10px;
    margin-top:5px;
    font-size: 24px;
    font-weight: 400;
}

.navbar .nav-item .active {
    background-color: var(--nav-active-color);
    color: var(--active-text-color);
    padding-bottom: 1.5rem;
}

/********* HERO SECTION *********/
.hero p {
    color: var(--nav-active-color);
}

.hero__div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hero__div--content-1 {
    width: 50%;
}

.hero__author {
    margin-top: 3em;
    font-size: 72px;
}

.hero hr {
    width: 150px;
    border: 2.5px solid black;
    border-radius: 6px;
}

.hero__paragraph {
    font-size: 32px;
}

.hero__div--content-2 {
    width: 45%;
    background-color: var(--title-bg-color);
    text-align: center;
    margin: 20px;
}

.hero__img {
    width: 636px;
}

.hero__div--content-3 {
    width: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.hero__div--content-3 p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.hero__div--content-3 a {
    color: var(--title-bg-color);
    text-align: right;
    font-size: 24px;
}

.hero__div--content-4 {
    display: none;
}

/********* ABOUT SECTION *********/
.about__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 2em;
}

.about__div--mobile {
    display: none;
}

.about__image {
    text-align: right;
    background-color: var(--title-bg-color);
    padding: 0;
    width: 30%;
}

.about__img {
    width: 100%;
    object-fit: cover;
}

.__tabs {
    width: 20%;
    font-size: 24px;
    background-color: var(--content-bg-color);
    padding: 0;
}

.__tabs .nav-link {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    border-radius: 0;
}

.__tabs .nav-link.active {
    background-color: var(--nav-active-color);
    color: var(--active-text-color);
    border-radius: 0;
}

.about__tabs--content {
    width: 80%;
    font-size: 20px;
    background-color: var(--content-bg-color);
    padding: 20px;
}

.about__tabs--content p {
    color: var(--nav-active-color);
}

.bio--details {
    color: var(--nav-active-color);
}

#v-pills-bio .btn{
    background-color: var(--nav-active-color);
    color: var(--active-text-color);
}

/********* SKILL SECTION *********/
.skill h2 {
    font-size: 86px;
    margin-top: 50px;
    margin-left: 10px;
}

.skill__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 2em;
}

.skill__div--mobile {
    display: none;
}

.skill__div .__tabs {
    height: 500px;
    width: 30%;
}

.__contents {
    font-size: 24px;
    width: 70%;
    background-color: var(--content-bg-color);
}

.__contents .row {
    margin-top: 20px;
}

.progress-bar {
    background-color: var(--title-bg-color);
    color: var(--title-text-color);
}

/********* PORTFOLIO SECTION *********/
.portfolio__div--mobile {
    display: none;
}

.card {
    background-color: var(--content-bg-color);
    margin: 10px;
    border-radius: 0;
}

.card-body {
    margin: 0;
    padding: 0;
}

.project-title {
    background-color: var(--title-bg-color);
    color: var(--title-text-color);
    padding: .25rem;
}

.card-title {
    font-size: 30px;
    margin: 10px;
}

.card-text {
    color: var(--nav-active-color);
    font-size: 18px;
    margin: 10px;
}

.card img {
    margin-top: 10px;
}

.card-body--2 {
    margin-left: 20px
}

/********* BLOG SECTION *********/
.carousel .card {
    height: 500px;
}


/********* CONTACT SECTION *********/
.contact__form {
    margin:20px auto;
    padding: 20px;
}

.form-floating {
    margin-top:20px;
}

.name, .email, .name:focus, .email:focus {
    background-color: var(--content-bg-color);
    border: 0;
}

.form-floating .textarea {
    height: 250px;
    resize: none;
    border: 0;
    background-color: var(--content-bg-color);
}

/********* FOOTER *********/
footer {
    width: 100%;
    background-color: var(--title-bg-color);
    padding-top: 20px;
}

footer a, h6, p {
    text-decoration: none;
    color: var(--title-text-color);
}

footer p {
    word-wrap: break-word;
}

footer h6 {
    font-size: 24px;
}

/********* MEDIA QUERIES *********/
@media screen and (min-width: 320px) and (max-width: 720px) {
    .offcanvas .nav-item .nav-link {
        width: 100%;
    }

    .hero, .about, .skill, .portfolio {
        display: none;
    }

    .hero, .about, .portfolio, .blog, .contact {
        height: 200vh;
    }

    .hero {
        display: flex;
        flex-direction: column;
        background: url("https://res.cloudinary.com/delgya5vj/image/upload/w_1000,h_1000,c_limit/v1677062074/profile_pyzs83.png") center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero__div {
        height: 100%;
        background: linear-gradient(180deg, rgba(218,212,187,0) 0%, rgba(218,212,187,.2) 40%, rgba(218,212,187,1) 100%);
    }

    .hero__div--content-2, .hero__div--content-3 {
        display: none;
    }

    .hero__div--content-1 {
        width: 100%;
    }

    .hero__author {
        margin-top: 8em;
        font-size: 36px;
    }

    .hero__div--content-4 {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-direction: row;
        padding: 10px;
        gap: 15px;
    }

    .hero__div--content-4 a, .hero__div--content-4 p {
        color: var(--title-bg-color);
        text-align: right;
        font-size: 18px;
    }

    .about {
        display: flex;
        flex-direction: column;
        background: url("https://res.cloudinary.com/delgya5vj/image/upload/w_1000,h_1000,c_limit/v1677753757/My_project_r9fci2.png") center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about__div {
        height: 100%;
        background: linear-gradient(180deg, rgba(218,212,187,0) 0%, rgba(218,212,187,.4) 30%, rgba(218,212,187,1) 100%);
    }

    .about__div--mobile {
        display: block;
        width: 100%;
    }

    .about__div--mobile .nav .nav-link {
        color: var(--title-bg-color);
        font-size: 16px;
        border-radius: 0;
    }

    .about__div--mobile .nav .active {
        background-color: var(--nav-active-color);
        color: var(--active-text-color);
        border-radius: 0;
    }

    .about__div--mobile .tab-content {
        margin-top:5em;
    }

    .about__div--mobile p {
        color: black;
        font-size: 16px;
    }

    .__tabs, .__contents, .about__image, .about__tabs--content {
        display: none;
    }

    .skill {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .skill__div--mobile {
        display: block;
    }

    .skill__div--mobile .tab-content{
        margin-top: 5em;
        font-size: 16px;
    }

    .skill__div--mobile .row,  .skill__div--mobile .row .progress {
        margin-top: 10px;
    }

    .skill__div--mobile .row .progress {
        margin-left: 20px;
    }

    .skill__div--mobile .nav .nav-link {
        color: var(--title-bg-color);
        font-size: 16px;
        border-radius: 0;
    }

    .skill__div--mobile .nav .active {
        background-color: var(--nav-active-color);
        color: var(--active-text-color);
        border-radius: 0;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
    }

    .portfolio__div--mobile {
        display: block;
    }

    .portfolio__div--mobile .card-text {
        font-size: 16px;
    }

    .card-group {
        display: none;
    }

    .portfolio__div--mobile .card-title {
        font-size: 30px;
        margin: 5px;
    }
    
    .portfolio__div--mobile .card-body--2, .blog .card-body--2 {
        margin-left: 10px
    }

    @media screen and (min-width: 721px) and (max-width: 1000px) {

    }
}




